@model IEnumerable<RemoteApiScanner.Models.EsecuzioniKiteRunner>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Stato
            </th>
            <th>
                @Html.DisplayNameFor(model => model.link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.routes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.statusCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @if (string.IsNullOrEmpty(item.executionTime))
                {
                    <td>
                        Running
                    </td>
                }
                else
                {
                    <td>
                        Done
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.link)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.routes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.statusCode)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
